global
        log /dev/log   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 2000
        timeout connect 5000
        timeout client 50000
        timeout server 50000





listen 5330 
    bind 0.0.0.0:9000       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    #This is the virtual URL to access the stats page
    stats uri /haproxy_stats        

    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    stats realm HAProxy\ Statistics 

    #The user/pass you want to use. Change this password!
    stats auth admin:Elbow69

    #This allows you to take down and bring up back end servers.
    #This will produce an error on older versions of HAProxy.
    stats admin if TRUE

backend HomePage
balance roundrobin
server wordpress001 192.168.1.13:8079 check

backend sensor001
server sensor001 192.168.1.29:80 check

backend sensor002
server sensor001 192.168.1.35:80 check

backend grafana
server grafana 192.168.1.13:3000 check

backend OpenHab
server openhab 192.168.1.13:8080 check


frontend http-in
  bind 0.0.0.0:80


  acl sensor001_acl  hdr_beg(host) sensor001.
  use_backend sensor001 if sensor001_acl

  acl sensor002_acl  hdr_beg(host) sensor002.
  use_backend sensor002 if sensor002_acl

  acl openhab_acl  hdr_beg(host)        openhab.
  use_backend OpenHab if openhab_acl

  acl grafana_acl hdr_beg(host) grafana.
  use_backend grafana if grafana_acl

  default_backend grafana  

